.message-content h1 {
    font-size: 2em;
    margin: 0.67em 0;
    line-height: 1.05em;
}

.message-content h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.message-content h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

.message-content h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

.message-content h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

.message-content h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

.message-content ul {
    list-style: disc;
    margin: 0.5em 0;
    padding-left: 20px;
}

.message-content ol {
    list-style: decimal;
    margin: 1em 0;
    padding-left: 20px;
}

.message-content table {
    border-collapse: collapse;
    margin: 1em 0;
}

.message-content th,
td {
    border: 1px solid rgba(150, 150, 200, .3);
    padding: 8px;
}

span.katex-html {
    margin: 8px;
}

blockquote {
    padding: 0 1em;
    border-left: .25em solid #dfe2e5;
}

@media (prefers-color-scheme: light) {
    a.markdown_it_link {
        color: #1589e9;
        text-decoration: underline;
    }

    a.markdown_it_link:hover {
        color: #30a9de;
    }
}

@media (prefers-color-scheme: dark) {
    a.markdown_it_link {
        color: white;
        text-decoration: underline;
    }

    a.markdown_it_link:hover {
        color: #9ab4cf;
    }
}

code {
    font-family: 'Fira Code', Consolas, 'Courier New', monospace;
}

em {
    font-style: italic;
}

span>p>img {
    max-width: 100%;
    height: auto;
}